@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');

:root {
	--primaryColor: #f7f3f4;
	--mainWhite: #fff;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--mainSpacing: 0.1rem;
	--mainTransition: all 0.3s linear;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--mainBlack);
	background: var(--mainWhite);
	font-family: 'Libre Caslon Text', serif;
}

/* --------------- Navbar ---------------- */
.nav-icon {
	font-size: 1.5rem;
}

.cart-btn {
	position: relative;
	cursor: pointer;
}

.cart-items {
	position: absolute;
	top: -8px;
	right: -8px;
	background: #9edcd7;
	padding: 0 5px;
	border-radius: 30%;
	color: var(--mainWhite);
}

a {
	color: black !important;
	transition: all 1s ease-in-out;
}

a:hover {
	color: #9edcd7 !important;

}

.navbar-toggler {
	outline: none !important;
}

.banner-btn {
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	font-size: 1rem;
	background: var(--primaryColor);
	color: var(--mainBlack);
	border: 1px solid var(--primaryColor);
	transition: var(--mainTransition);
	cursor: pointer;
	border-radius: 50px;
}

.banner-btn:hover {
	background: transparent;
	color: #9edcd7;
}

.navbar-collapse {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-align: center;
	align-items: center;
	text-align: center !important;
	background-color: #fff !important;
}

/* --------------- End of Navbar ---------------- */
/*-------------site-blocks-cover----------------*/
.site-blocks-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background: #f7f3f4;
	display: flex;
}

/* --------------- header -section--------------- */
.header {
	clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
	color: var(--mainWhite);
	overflow: hidden;
}

.height-max {
	min-height: calc(100vh - 76px);
	background: url('../images/accessory-black-background-bright-1660521.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	animation-name: zoom;
	animation-duration: 20s;
	display: flex;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2) translate(-5%);
	}

	100% {
		transform: scale(1);
	}
}

.title-heading {
	background: rgba(255, 243, 243, 0.4);
	border-left: 0.3rem solid var(--mainGrey);
}

.title {
	font-weight: 700;
	font-size: 1.9rem;
}

@media screen and(min-width: 768px) {
	.title {
		font-size: 3rem;
	}
}

.title-icon {
	color: white;
	text-decoration: none !important;
}

.title-icon:hover {
	color: blanchedalmond;
	opacity: 0.6;
}

/* ---------------end of header section ---------------- */

/*----  section-1 -----*/
.section-1 {
	padding: 20vmin 0vmin;
	background: var(--primaryColor);
}

.section-1 .row .col-md-6 .pray img {
	opacity: 0.8;
	width: 80%;
	border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
	position: relative;
}

.section-1 .row .col-md-6 .panel {
	position: absolute;
	top: 7vmin;
	left: -18vmin;
	background: white;
	border-radius: 3px;
	text-align: left;
	padding: 13vmin 5vmin 20vmin 10vmin;
	box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
	font-family: var(--Rubik);
	z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
	font-weight: bold;
	padding: 0.4em 0;
	font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.5);
}

.section-1 .row .col-md-6 .panel {
	position: initial;
	width: initial;
	height: initial;
}

/* --------------- end of section-1---------------- */
/* --------------- products---------------- */
.products {
	padding: 4rem 0;
}

h4 {
	font-size: 1rem !important;
}

h6 {
	text-align: center;
}

.section-title h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 5rem;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

.products-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
}

.img-container {
	position: relative;
	overflow: hidden;
}

.bag-btn {
	position: absolute;
	top: 70%;
	right: 0;
	background: white;
	border: none;

	padding: 0.5rem 0.75rem;
	letter-spacing: var(--mainSpacing);

	transition: var(--mainTransition);
	transform: translateX(101%);
	cursor: pointer;
}

.bag-btn:hover {
	color: var(--mainBlack);
}

.fa-shopping-cart {
	margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
	transform: translateX(0);
}

.product-img {
	display: block;
	width: 100%;
	min-height: 12rem;
	transition: var(--mainTransition);
}

.img-container:hover .product-img {
	opacity: 0.5;
}

.product h3 {
	text-transform: capitalize;
	font-size: 1.1rem;
	margin-top: 1rem;
	letter-spacing: var(--mainSpacing);
	text-align: center;
}

.product h4 {
	margin-top: 0.7rem;
	letter-spacing: var(--mainSpacing);
	color: var(--mainBlack);
	text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: var(--mainTransition);

	z-index: 2;
	visibility: hidden;
}

.cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	z-index: 3;
	background: white;
	padding: 1.5rem;
	transition: var(--mainTransition);
	transform: translateX(100%);
}

.showCart {
	transform: translateX(0);
}

.transparentBcg {
	visibility: visible;
}

@media screen and (min-width: 768px) {
	.cart {
		width: 30vw;
		min-width: 450px;
	}
}

.close-cart {
	font-size: 1.7rem;
	cursor: pointer;
}

.cart h2 {
	text-transform: capitalize;
	text-align: center;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 1.5rem;
	margin: 1.5rem 0;
}

.cart-item img {
	width: 75px;
	height: 75px;
}

.cart-item h4 {
	font-size: 0.85rem;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
	margin: 0.5rem 0;
	letter-spacing: var(--mainSpacing);
}

.item-amount {
	text-align: center;
}

.remove-item {
	color: grey;
	cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
	color: #9edcd7;
	cursor: pointer;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
	margin-top: 2rem;
	letter-spacing: var(--mainSpacing);
	text-align: center;
}

.cart-footer h3 {
	text-transform: capitalize;
	margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
/* --------------- about us---------------- */
.about-us {
	background-color: #222;
}

/*--------------footer---------------*/

.copyright {
	margin-bottom: -80px;
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
	background: var(--primaryColor);
}

.fa-heart-o {
	color: red;
	font-size: 15px;
}

/*-------------contact us---------------*/

#success-message {
	opacity: 0;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
	padding: 0 20% 0 20%;
}

.margin-top-25 {
	margin-top: 25px;
	margin-bottom: 15px;
}

.form-title {
	padding: 25px;
	font-size: 30px;
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group .form-control {
	-webkit-box-shadow: none;
	border-bottom: 1px;
	border-style: none none solid none;
	border-radius: 0;
	border-color: #000;
}

.form-group .form-control:focus {
	box-shadow: none;
	border-width: 0 0 2px 0;
	border-color: #000;
}

.contact {
	background-color: var(--primaryColor);
}

textarea {
	resize: none;
}

.btn-mod.btn-large {
	height: auto;
	padding: 13px 52px;
	font-size: 15px;
}

.btn-mod.btn-border {
	color: #000000;
	border: 1px solid #000000;
	background: transparent;
}

.btn-mod,
a.btn-mod {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 13px;
	color: #fff;
	background: rgba(34, 34, 34, .9);
	border: 1px solid transparent;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
	color: #fff;
	border-color: #000;
	background: #000;
	outline: none;
}

@media only screen and (max-width: 500px) {
	.btn-mod.btn-large {
		padding: 6px 16px;
		font-size: 11px;
	}

	.form-title {
		font-size: 20px;
	}

}